body{
	margin: auto;
}

.photo img{
	display:block;
	position: relative;
	right: 24px;
	bottom: 100px;
	width:312px;
	object-fit: cover;
	z-index: -999;
	filter: brightness(25%);
	opacity: 0.7;
}

#navbar{
	position: fixed;
	background-color: black;
	color: white;
	width: 100%;
	height: 40px;
	padding: 8px;
	z-index:999999;
	overflow:hidden;
}

#home-logo img{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: 4px;
	margin-right: 8px;
	-webkit-filter: invert(100%);
	float: left;
	transition: linear 0.2s;
}

#home-logo img:hover {
	-webkit-transform:scale(1.2);
	transition: linear 0.2s;
}

#searchbar{
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	display: block;
	float: left;
	margin-left: 16px;
	margin-right: 4px;
	margin-top: 4px;
}

#searchbar input#search{
	width: 300px;
	height: 25px;
	border: none;
	background: #494949;
	font-size: 10pt;
	float: left;
	color: white;
	padding-left: 30px;
	border-radius: 5px;
	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}

#searchbar input#search:hover, #searchbar input#search:focus, #searchbar input#search:active{
	outline:none;
	background: #ffffff;
	color: black;
  }

.navbutton{
	display: inline-block;
	font-family: Roboto;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 8px 4px;
	margin-left: 4px;
	margin-right: 16px;
	margin-bottom: 0px;
	margin-top: 4px;
	float: right;
}

.dropdown{
	display: inline-block;
	margin-right: 8px;
	margin-top: 8px;
	margin-left: 8px;
}

#region{
	float: left;
}

#language{
	float: right;
}

#container{
	position: relative;
	top: 133px;
	width: 960px;
	margin-bottom: 120px;
	margin-left: auto;
	margin-right: auto;
}

.content{
	position: fixed;
	display: inline-block;
	height: calc(100% - 136px);
	margin: 40px 20px;
	left:320px;
	right: 196px;
	padding: 25px 8px;
	font-family: Roboto;
	letter-spacing: 2px;
	overflow:auto;
	text-align: center;
}

.category-box{
	display: inline-block;
	font-family: Roboto;
	font-size: 32px;
	color: white;
	letter-spacing: 3px;
	line-height: 60px;
	width: 240px;
	height: 108px;
	margin: 0px;
	padding: 48px 36px 12px 36px;
	text-align: center;
	text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.category-box:hover .photo {
	-webkit-filter: blur(2px);
	opacity: 0.3;
	padding: 1px 0px 0px 0px;
	transition: linear 0.1s;
}

.category-box:hover {
	color: #22313f;	
}

#craigslist{
	font-family: Pacifico;
	font-size: 56px;
	line-height: 60px;
	letter-spacing: 0px;
	text-align: center;
}

#bottombar{
	width: 100%;
	background: black;
	height: 76px;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
}

#bottombar li {
	font-size: 12px;
	font-family: Roboto;
	letter-spacing: 2px;
	height: 20px;
	display: inline-block;
	color: white;
	float: right;
	padding: 8px;
}

#leftbar {
	position: fixed;
	background-color: #f5f5f5;
	width: 320px;
	height: 100%;
	margin-top: 40px;
	padding: 25px 8px;
	font-family: Roboto;
	letter-spacing: 2px;
	overflow:hidden;
	text-align: center;
}

.map img{
	margin: 20px auto;
	width: 280px;
}

#popular-keywords {
	font-family: Pacifico;
	letter-spacing: 0px;
	font-size: 28px;
}

.keywords {
	display: inline-block;
	font-size: 17px;
	padding: 0px 8px 8px;
	opacity: 0.7;
}

#rightbar {
	position: fixed;
	background-color: #f5f5f5;
	height: 100%;
	width: 200px;
	margin-top: 40px;
	padding: 25px 8px;
	font-family: Roboto;
	letter-spacing: 2px;
	overflow:auto;
	text-align: center;
	right: 0px;
}

.hr-divider{
	margin: 8px;
}

#update-search{
	display: inline-block;
	font-size: 12px;
	letter-spacing: 2px;
	color: white;
	background: #4183d7;
	padding: 8px 20px;
	border-radius: 4px;
	margin: 4px 8px;
	transition: linear 0.4s;
}

#update-search:hover{
	opacity: 0.7;
	transition: linear 0.4s;
}

.breadcrumbs-arrow{
	position: relative;
	display: inline-block;
	margin: 0 auto;
	overflow: hidden;
	top: 4px;
	left: 2px;
}

.breadcrumbs-arrow img{
	width: 16px;
	height: 16px;
}

#star{
	position: relative;
	display: inline-block;
	padding: 1px;
	margin: 2px;
	bottom: 12px;
}

#star img {
	width: 40px;
	height: 40px;
}

#starred {
	height: 48px;
}

#starred-title {
	position: relative;
	display: inline-block;
	font-family: Pacifico;
	letter-spacing: 0px;
	font-size: 28px;
	padding: 8px;
	right: 16px;
	overflow:hidden;
	text-align: center;
}

.starred-item {
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	padding: 0px 8px 8px;
	opacity: 0.7;
}

.list-star{
	display: inline-block;
	height: 72px;
	float: right;
}

.list-star img {
	width: 28px;
	height: 28px;
}

.list-title {
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);
	height: 60px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	float: right;
}

.list-title:hover {
	font-style: italic;
}

.list-icon img{
	display: inline-block;
	position: relative;
	top: 50%;
	width: 60px;
	height: 60px;
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 6px;
	float: left;
	object-fit: cover;
}

.list-item {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	display: block;
	overflow: hidden;
	background-color: aliceblue;
	height: 72px;
	padding: 4px;
	margin: 20px;
	text-align: left;
	position: relative;
}

.list-item:hover {
	border: 2px solid #f5f5f5;
}

.item-title {
	display: block;
	font-family: Roboto;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	padding: 4px;
	overflow: hidden;
}

.item-picture{
	display: block;
	padding: 32px;
	margin: 32px;
	border: 2px solid #f5f5f5;
}

.item-picture img {
	width: 80%;
}

.item-description{
	display: block;
	font-family: Roboto;
	font-size: 12px;
	opacity: 0.8;
	line-height: 18px;
	padding: 20px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	opacity: 0.5;
}
