body {
  font-family: Roboto;
  text-align: center; 
  margin: 0px auto;
}

.navbar ul {
  background-color: lightgray;
}

.navbar li {
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
}

.searchbar {
  float: left;
}

.craigslist {
  font-family: Pacifico;
}

.my-account {
  float: right;
}

.post {
  float: right;
}

.post:hover {
  background-color: lightslategray;
  opacity: 0.5;
}

.my-account:hover {
  background-color: lightslategray;
  opacity: 0.5;
}

#container {
  width: 960x;
  padding: 30px 0px;
}

#craigslist {
  font-family: Pacifico;
  font-size: 80px;
  padding-bottom: 30px;
}

#container li {
  font-size: 40px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
}

.category-box:hover {
  background-color: gray;
  opacity: 0.5;
}

#for-sale {
  text-decoration: none;
  color: black;
}

.bottombar {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.bottombar ul {
  background-color: lightgray;
}

.bottombar li {
  font-size: 20px;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
}

.bottombar li:hover {
  background-color: lightslategray;
  opacity: 0.5;
