body{
	margin: 0;
}

#navbar{
	position: fixed;
	background-color: black;
	color: white;
	width: 100%;
	padding: 8px;
}

.navbutton{
	display: block;
	padding: 8px;
	margin-left: 4px;
	margin-right: 16px;
	font-family: Roboto;
	font-size: 12px;
	letter-spacing: 2px;
	float: right;
}

#container{
	position: relative;
	top: 52px;
	width: 960px;
	margin: 0 auto;
}

.category-box{
	display: inline-block;
	font-family: Roboto;
	font-size: 32px;
	width: 240px;
	height: 108px;
	margin: 0 auto;
	padding: 36px 36px;
	text-align: center;
}

#craigslist{
	font-family: Pacifico;
	font-size: 64px;
}

#bottombar{
	width: 100%;
	background: black;
	height: 96px;
}
